body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

main {
  background: $body-background-color;
  padding-top: 6em;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  z-index: 9999;
  background: $sidebar-color;
  font-size: 1.25em;
  padding: 1em 0 1em 0;
  margin-bottom: 60px;
  text-align: center;
}

nav .left {
  font-weight: 700;
  color: $body-heading-color;
  float: left;
  margin-left: 2em;
  text-decoration: none;
}

nav .right {
  font-weight: 300;
  color: $nav-child-link-color;
  float: right;
  margin-right: 2em;
}

nav .right a {
  padding-left: .5em;
  text-decoration: none;
}

nav .left a {
  text-decoration: none;
  color: $body-heading-color;
}

nav a.current {
  color: $body-heading-color;
}

img.big {
  width: 200px;
}

img.contact {
  width: 100px;
  height: 100px;
}

footer {
  text-align: center;
  font-size: .5em;
  color: $feedback-color;
}

@media only screen and (max-width:550px) {
  html {
    font-size: 14px;
  }
  nav {
    padding: 0.5em 0.25em 0.5em 0.25em;
  }
}